    .igralec {
    background-color: #f6c6c6;
    border: 2px solid #f3dfdf;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .igralec b {
    font-size: 1.1em;
    color: #2786e4;
  }
  
  .igralec ul {
    list-style-type: none;
  }
  
  .igralec li {
    font-size: 0.9em;
    color: rgb(68, 163, 241);
  }
  